<div class="container">
    <!-- Step -->
    <div class="ContentTimeline">
        <div class="ContainerProgressbar">
            <a routerLink="/" class="homeNav">Menu</a>
            <ul class="progressbar">
                <li></li>
                <li routerLink="/seller-list"></li>
                <li class="active" routerLink="/login"></li>
                <li routerLink="/pipeline"></li>
                <li></li>
            </ul>
        </div>
    </div>
    <!-- form -->
    <div class="FormLoginContent">
        <h3>Formulaire</h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <img src="assets/images/form_user.png" class="BeforeChamp">
                    <input matInput placeholder="Nom, Prénom, ...">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/form_mail.png" class="BeforeChamp">
                    <input matInput placeholder="E-mail">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/from_password.png" class="BeforeChamp">
                    <input matInput placeholder="Mot de passe">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/from_msg.png" class="BeforeChamp">
                    <input matInput placeholder="Message">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <img src="assets/images/form_user.png" class="BeforeChamp">
                    <input matInput placeholder="Nom, Prénom, ...">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/form_mail.png" class="BeforeChamp">
                    <input matInput placeholder="E-mail">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/from_password.png" class="BeforeChamp">
                    <input matInput placeholder="Mot de passe">
                </mat-form-field>
                <mat-form-field>
                    <img src="assets/images/from_msg.png" class="BeforeChamp">
                    <input matInput placeholder="Message">
                </mat-form-field>
            </div>
        </div>
        <button mat-button class="BtnFormulaire">Valider</button>
    </div>
</div>